fastapi==0.109.0
uvicorn[standard]
gunicorn==21.2.0
pydantic[email]==2.5.3
pydantic-settings==2.1.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
supabase>=2.11.0
pandas==2.2.0
numpy==1.26.3
scikit-learn==1.4.0
geopandas
rasterio
PyKrige
# httpx is managed by supabase
python-dotenv==1.0.0
# google-genai
mistralai>=1.0.0

openpyxl>=3.1.0
